@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ORIGINAL color scheme map:
#e0ebe8 - light
   body background color
#b90e83 - pink purple
   hyperlink color
#fdbd1c - orange
   title
   hyperlink hover over
#401231 - dark purple
   text color
#49977f - dark green
   header background color
  */


/* General Page Formatting */
html{
    --bodybackgroundcolor: #e0ebe8;
    /* --linkcolor: #55073c; */
    --linkcolor: #b61243;
    /* --title: #fdbd1c; */
    --title: #fdba00;
    /* --textcolor: #77215a; */
    --textcolor: rgb(182, 12, 68);
    --headerbackgroundcolor: #49977f;
    font: 20px/1 "Ubuntu", sans-serif;
}

.wrapper{
    background-color: var(--bodybackgroundcolor);
    margin: 0 auto;
    max-width: 45rem;
    width: 90%;
    display: grid;
    grid-template-rows: 5rem auto 2.5rem;
    min-height: 100vh;
}


/*Tag Formatting*/
p{
    color: var(--textcolor);
    margin: 1rem auto;
}
a{
    color: var(--linkcolor);
    text-decoration: none;
}
a:hover{
    color: var(--title);
}
img{
    width: 100%;
}
h2{
    margin-bottom: 1rem;
    color: var(--textcolor);
}
ul{
    list-style: none;
}
li{
    color: var(--textcolor);
}
article{
    margin: 3rem auto;
    max-width: 40rem;
    width: 85%;
    display: flex;
}
hr{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    height: .5rem;
    border-radius: 6px;
    background-color: var(--headerbackgroundcolor);
}
footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
figcaption{
    font-size: 0.3rem;
}


/* Class Formatting */
.personal-info{
    display: flex;
    align-items: flex-start;
}
.personal-info-grid{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
}
.personal-info__headshot-caption{
    display: none;
}
.personal-info__image-container{
    padding: 0;
}
.personal-info__content-container{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-evenly;
}
.personal-info__content-title{
    color: var(--headerbackgroundcolor);
    text-size-adjust: 1rem;
}
.personal-info__content{
    margin: 0;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--headerbackgroundcolor);
    padding: 1rem 2rem;
}
.main-header__title{
    color: var(--title);
    font-size: 3.5rem;
}
.navigation__list{
    display: flex;
}
.navigation__list-item{
    margin-right: .8rem;

}
.navigation__list-item:last-child{
    margin-right: 0;
}
.projects{
    display: flex;
}
.projects__image-caption{
    display: none;
}
.projects__list-item{
    margin: 2rem auto;
}
.projects__list-link{
    text-decoration: underline;
}
.contact-me{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button-container{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 100%;
}
.back-to-top-button{
    padding: 0;
    margin: 0;
    opacity: .5;
}
.footer__image-container{
    width: 2.5rem;
    margin: .25rem;
}
.footer__image-caption{
    display: none;
}